body {
    margin: 0px;
    font-size: 20px;
    font-family: arial, sans-serif;
}

nav {
    height: 200px;
    background:linear-gradient(#000000,#ffffff);
    /* background-image: url(../pictures/bg.jpg); */
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 20px;
}

nav>.title {
    text-align: center;
    font-size: 2em;
    color: #ffffff;
    font-family: 'Noto Sans TC', sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
}
section.gal {
    padding: 10px;
}

section.gal>.list>.quest {
    font-weight:bold;
}

section.gal>.list>.answer>ul {
    list-style-type:none;
}

/* footer 區塊 */
footer {
    background-color: #000000;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    color: #ffffff;
}
